<div class="side-nav">
    <div class="side-nav-container">
        <a href="https://www.meddy.com/ar/?utm_source=blog&utm_medium=logo&utm_campaign=meddy" class="nav-logo">
            {{> "icons/logo-main"}}
        </a>

        <a href="#" class="side-menu">
            {{> "icons/menu"}}
        </a>

        <a href="https://hakeem.meddy.com/" class="nav-switch-lang">
            English
        </a>
    </div>
</div>

<nav class="side-bar hide">
    <button class="side-bar-close">{{> icons/close}}</button>
    <ul class="side-bar-list">
        <li class="side-bar-title">{{t "Top Specialities"}}</li>
        <li>
          <a href="https://www.meddy.com/ar/doctors/طبيب+أسنان/?utm_source=blog&utm_medium=rightsidebar&utm_campaign=meddy">{{t "Dentists"}}</a>
        </li>
        <li>
          <a href="https://www.meddy.com/ar/doctors/طبيب+جلدية/?utm_source=blog&utm_medium=rightsidebar&utm_campaign=meddy">{{t "Dermatologists"}}</a>
        </li>
        <li>
          <a href="https://www.meddy.com/ar/doctors/طبيب+عام/?utm_source=blog&utm_medium=rightsidebar&utm_campaign=meddy">{{t "General Doctors"}}</a>
        </li>
        <li>
          <a href="https://www.meddy.com/ar/doctors/نساء+وولادة/?utm_source=blog&utm_medium=rightsidebar&utm_campaign=meddy">{{t "Gynecologists"}}</a>
        </li>
        <li>
          <a href="https://www.meddy.com/ar/doctors/طبيب+عظام/?utm_source=blog&utm_medium=rightsidebar&utm_campaign=meddy">{{t "Orthopedists"}}</a>
        </li>

        <li class="side-bar-title">{{t "Keep In Touch"}}</li>
        <li>
            <a href="https://twitter.com/meddyuae/">{{t "Twitter"}}</a>
        </li>
        <li>
            <a href="https://www.facebook.com/meddyuae/">{{t "Facebook"}}</a>
        </li>
        <li>
            <a href="https://www.instagram.com/heliumdoc">{{t "Instagram"}}</a>
        </li>

        <li class="side-bar-title">{{t "Who We Are"}}</li>
        <li>
          <a href="https://wa.me/97466127945">{{t "Contact Us"}}</a>
        </li>
        <li>
          <a href="https://www.meddy.com/ar/privacy/">{{t "Privacy Policy"}}</a>
        </li>
        <li>
          <a href="https://www.meddy.com/ar/terms/">{{t "Terms"}}</a>
        </li>

    </ul>
</nav>