<aside class='c-post-upgrade-cta'>
  {{#if @member}}
    <h4 class='c-post-upgrade-cta__title'>{{t 'This post is for paying subscribers only'}}</h4>
  {{else}}
    <h4 class='c-post-upgrade-cta__title'>{{t 'This post is for subscribers only'}}</h4>
  {{/if}}

  <a class='c-btn c-btn--active' href='/signup/'>{{t 'Subscribe Now'}}</a>
  <div><span class='u-font-size-small'>{{t 'Already have an account?'}} <a href='/signin/' class='u-link'>{{t 'Log In'}}</a></span></div>
</aside>