<form data-members-form='subscribe' class='c-subscribe-form'>
  <div class='form-group'>
    <input type='email' class='c-subscribe-form__input' placeholder='{{t 'Email ' }}' data-members-email autocomplete='false'>
    <button type='submit' class='c-subscribe-form__btn c-btn c-btn--active c-btn--small c-btn--full'>{{t 'Subscribe' }}</button>
  </div>

  <div class='u-alert u-alert--success u-mt-8'>{{t 'Please check your inbox and click the link to confirm your subscription.' }}</div>
  <div class='u-alert u-alert--invalid u-mt-8'>{{t 'Please enter a valid email address!' }}</div>
  <div class='u-alert u-alert--error u-mt-8'>{{t 'An error occurred, please try again later.' }}</div>
</form>